/**
 * Pages Signin - Type 2
 */
body#signin-type-2 {
   /* IE10+ */ 
background-image: -ms-linear-gradient(bottom, #00EDED 0%, #007575 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #00EDED 0%, #007575 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #00EDED 0%, #007575 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00EDED), color-stop(100, #007575));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #00EDED 0%, #007575 100%);

/* W3C Markup */ 
background-image: linear-gradient(to top, #00EDED 0%, #007575 100%);
}
