.help_contact{margin-top: 38px;}
.help_contact p{text-align: right;}


/*Start Dashboard Body*/
.dashboard_body{
    margin: 25px 0px;
}
.dashboard_body .col-md-1 {padding: 0px;}
.dashboard_body .col-md-11 {padding-left: 0px !important;}


.db_menu{}
.db_menu ul{}
.db_menu ul li{text-align: center;}

.db_menu ul li a{
    display: block;
    padding: 10px;
    color: #FFF;
    background: rgba(153,0,204,0.3);
    border-bottom: 5px solid #D4AAEC;
}
.db_menu ul li a:hover{
    background: rgba(153,0,204,0.6);
    color: #FFF;
    border-bottom: 5px solid #FFF;
}
.db_menu ul li a.active{
    background: #9900CC;
    color: #FFF;
    border-bottom: 5px solid #FFF;
}

.db_menu ul li a i{}
.db_menu ul li a p{margin-bottom: 0px;font-size: 13px;}


/*================================*/
/*================================*/
.bd_body{
    background: #FFF;
    padding: 30px 50px;
    min-height: 500px;
}


.bd_body form button{
    height: 37px;
    border: 1px solid purple;
    transition: 0.3s;
    background: purple;
    color: #FFF;
    border-radius: 0px;
}
.bd_body form button:hover{
    border: 1px solid purple;
    background: #FFF;
    color:purple; 
}

.bd_body h2{
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0px;
    text-align: center;
    color: purple;
}

.bd_body form{}
.bd_body form .form-group{margin-bottom: 25px;}

.bd_body form label{font-weight: 500;}


.bd_body form textarea,
.bd_body form input[type="text"],
.bd_body form input[type="password"]{
    height: 35px;
    border-radius: 0px;
}

.bd_body form textarea{
    height: 90px;
}
.bd_body form input[type="text"]:focus,
.bd_body form input[type="password"]:focus,
.bd_body form select:focus,
.bd_body form textarea:focus{
    border: 1px solid purple;
}

.bd_body form select{
    height: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url("../img/arrowdown.gif") no-repeat 95% 50%;
    border-radius: 0px;
}
/*Close Dashboard Body*/