/*@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,300,700);*/

/*Start Base CSS*/
*{margin: 0px;padding: 0px;}

html,
body{ 
    font-family: solaiman-lipi, Arial, sans-serif;
    background: #EEF3FA;
}
.container{
    padding-left: 0px;
    padding-right: 0px;
}
img{width: 100%;height: auto;}
h1,h2,h3,h4,h5,h6{
    margin: 0px; 
    padding: 0px;
    /*font-family: 'Poppins', sans-serif;*/
}
p{font-size: 16px;}
a{color: #000;transition: 300ms all;text-decoration: none;cursor: pointer;font-size: 16px;}
a:hover{color:#1976D2;text-decoration: none;}
a:focus{outline: none;text-decoration: none;}

ul,li{margin: 0px;padding: 0px;}
li{list-style: none;}

.no_radius{border-radius: 0px !important;}
.no_padding{padding: 0px !important;}
.no_margin{margin: 0px !important;}
/*Close Base CSS*/


/*Start Top Bar CSS*/
.top_bar{}
.top_bar .navbar{
    border: none;
    border-radius: 0px;
    min-height: 20px;
    height: auto;
    padding: 10px 0px;
}
.top_bar .navbar-default{background: #4D4D4D;}

.top_bar .navbar-collapse{padding: 0px;}

.top_bar .nav{}
.top_bar .navbar-nav{}
.top_bar .navbar-nav li{
    border-right: 2px solid #FFF;
    padding: 0px 10px;
}
.top_bar .navbar-nav li:last-child{
    border-right: none;
    padding-right:0px; 
}
.top_bar .navbar-nav li a{
    padding:4px 5px 4px 5px !important;
    color: #fff;
}
.top_bar .navbar-nav li a:hover{color: #9900CC;}

.top_bar .navbar-nav li.active a{
    background: none;
    color: #fff;
}
.top_bar .navbar-nav li.active a:hover{                                     
    background: none;
    color: #9900CC;
}
.top_bar .navbar-nav li a i{color: #FFF;}


.top_bar .navbar-nav li.open a{
    background: none;
    color: #9900CC;
}

.top_bar .navbar-nav li.open a:hover,
.top_bar .navbar-nav li.open a:focus,
.top_bar .navbar-nav li.open a:active{
    background: none;
    color: #9900CC;
}

.top_bar .navbar-nav .dropdown-menu{margin-top: 10px;}
.top_bar .navbar-nav .dropdown-menu li{border-right: none;}
.top_bar .navbar-nav .dropdown-menu li a{color: #4D4D4D;}

.top_bar .navbar-nav .dropdown-menu li .form-group{
    padding: 0px 0px 10px 0px;
}
.top_bar .navbar-nav .dropdown-menu li button{
    background: #9900CC;
    width: 100%;
    padding: 3px 0px;
    font-size: 18px;
}
.top_bar .navbar-nav .dropdown-menu li .forget_pass{
    text-align: center;
    padding: 2px 0px;
}
.top_bar .navbar-nav .dropdown-menu li .forget_pass a{font-size: 12px;}


.top_bar button.btn{
    color: #FFF;
    background:none;
    border-color: #FFF;
    border-radius: 0px;
    padding: 3px 10px;
}
.top_bar button.btn.active{
    color: #000;
    background: #fff;
    border-color: #FFF;
    box-shadow: inset 0px 0px 0px rgba(0,0,0,0);
}
.top_bar button.btn-default{}
/*Close Top Bar CSS*/







/*Start Header CSS*/
.header{}

.logo{}
.logo img{
    width: 100%;
    height: 100px;
}

.search_wrapper{margin-top: 25px;}

.search_box{
    border: 2px solid #4D4D4D;
    background: #FFF;
    margin-bottom: 18px;
}
.search_box .col-md-9{padding-right: 0px;}
.search_box .col-md-3{padding-left: 0px}
.search_box form{}
.search_box .search_input_box input[type="text"]{
    height: 45px;
    border-radius: 0px !important;
    border: none;
    color: #292929;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    width: 100%;
}

.search_box .select_input_category{
    background: tomato
}

.search_box .select_input_category select{
    text-align: center;
    line-height: 29px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-top: none;
    border-bottom: none;
    font-size: 14px;
    color: #292929;
    font-weight: 400;
    width: 99px;
    height: 45px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url("img/arrowdown.gif") no-repeat 90% 50%;
}

.search_box .select_input_category button{
    color: #000;
    background: #FFF;
    border: none;
    border-radius: 0px;
    padding: 8px 24px;
    font-size: 20px;
}
.shopping_cart{

}
.shopping_cart a{}
.shopping_cart a i{
    font-size: 50px;
    color: #4D4D4D;
}
/*Close Header CSS*/


/*Start Top Menu CSS*/
.top_menu{background: #4D4D4D;}
.top_menu ul{text-align: center;}
.top_menu ul li{
    padding: 0px;
    border-right: 1px solid #FFF;
}
.top_menu ul li:last-child{border-right: none;}
.top_menu ul li a{
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 18px;
    color: #FFF;
    font-weight: 400;
    display: block;
}
.top_menu ul li a:hover{
    color: #d5d5d5;
}

/*Close Top Menu CSS*/


/*Start Menu Menu & Slider CSS*/
.menu_and_slider{margin-top: 2px;}
.mega_menu{}
.mega_menu ul{background: #F9F9F9;}
.mega_menu ul li{
    padding: 0px;
    border-bottom: 1px solid #FFF;
}
.mega_menu ul li i{
    padding-right: 12px;
    color: #4D4D4D;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.mega_menu ul li a{
    color: #4D4D4D;
    display: block;
    padding: 7.5px 15px;
}
.mega_menu ul li a:hover{
    color: #9900CC;
    background: #FFF;
}


.gents_collection{position: relative;}
.gents_mega_menu{
    position: absolute;
    background: #FFF;
    top: 0px;
    left: 100%;
    z-index: 999;
    width: 610px;
    min-height: 250px;
    height: auto;
    padding: 20px 20px;
    opacity: 0;
    transition: 0.2s;
    transform: scaleX(0);
    transform-origin: 0 0 0;
}
.gents_collection:hover .gents_mega_menu{
    opacity: 1;
    transform: scaleX(1);
}

.gents_mega_menu a{}
.gents_mega_menu a h2{
    font-size: 16px;
    padding: 5px 10px 5px;
    font-weight: 600;
}
.gents_mega_menu ul{background: none;margin-left: 5px;}
.gents_mega_menu ul li{border: none;padding: 2px 12px;}
.gents_mega_menu ul li a{padding: 0px 15px;font-size: 13px;}



.main_slider{}

.second_slider{margin-top: 3px;}

.second_slider .single_product{}
.second_slider .single_product .s_p_img{}
.second_slider .single_product .s_p_img a{}

.second_slider .owl-nav {
    left: 0;
    position: absolute;
    top: 33%;
    width: 100%;

}
.second_slider .owl-nav div {
    font-size: 30px;
    position: absolute;
    font-weight: 700;
    color: #FFF;
    background: #9900CC;
    padding: 5px 15px;
}
.second_slider .owl-nav div.owl-prev { 
    left: 0px;
    display: none !important;
}
.second_slider .owl-nav div.owl-next {
    right: -41px;
}
/*Close Menu Menu & Slider CSS*/


/*Start Product Section One CSS*/
.product_one,
.product_two,
.product_three{
    margin-top: 50px;
}

.product_one .container,
.product_two .container,
.product_three .container{
    box-shadow:3px 5px 4px -4px #444;
}

.product_one .musa{

}

.side_menu{
    background: #FFF;
    height: 480px;
    overflow: hidden;
}

.side_menu a{}
.side_menu a h2{
    background: #9900CC;
    padding: 13px 10px 7px 20px;
    color: #FFF;
    font-size: 19px;
    font-weight: 400;
}

.product_two .side_menu a h2{
    background: green;
}
.product_three .side_menu a h2{
    background: red;
}

.side_menu ul{
    padding: 20px 10px 20px 20px;
}
.side_menu ul li{margin-bottom: 10px;}
.side_menu ul li:last-child{margin-bottom: 0px;}
.side_menu ul li a{}
.side_menu ul li a:hover{}


.product_list{}
.product_list .col-md-8 .col-md-4{
    padding-left: 0px;
}


/*.big_product{height: 480px;}*/
.big_product .product_unit{
    height: 480px;

}

.big_product .product_unit a img{
    width: 100%;
    height: 480px;
}

.product_unit{
    background: #FFF;
    height: 235px;
    box-shadow: 0px 0px 2px #ccc;
    transition: 0.3s;
    overflow: hidden;
}

.product_unit:hover{
    /*box-shadow: 1px 2px 2px  #4D4D4D;*/
    box-shadow: 0px 0px 4px #444;
    /*border-right: 1px solid #4D4D4D;*/
    position: relative;
    z-index: 10;
}
.product_unit a{}
.product_unit a img{
    width: 100%;
    height: 175px;
}

.product_unit_content{
    text-align: center;
    padding: 8px 5px;
}
.product_unit_content a{}
.product_unit_content a h2{
    font-size: 14px;
    font-weight: 300;
}
.product_unit_content h3{
    font-size: 17px;
    font-weight: 400;
    padding-top: 4px;
    color: #9900CC;
}

/*Close Product Section One CSS*/



/*Start Big Footer CSS*/

/*Start Big Footer CSS*/
.big_footer{
    background: #4D4D4D;
    padding: 30px 0px;
    margin-top: 25px;
}

.footer_content{}

.footer_content .footer_heading{
    text-align: center;
}
.footer_content .footer_heading h2{
    color: #FFF;
    font-size: 24px;
    padding-bottom: 10px;
}

ul.footer_list{text-align: center;}
ul.footer_list li{}
ul.footer_list li a{
    color: #fff;
    font-size: 15px;
}
ul.footer_list li a:hover{
    color: #9900CC;
}


.payment_media{
    /*margin-top: 20px;    */
}
.payment_media p{
    color: #FFF;
    font-size: 19px;
}


.copyright-text {
    padding: 10px 0px;
    background: #9900CC;
    color: #fff;
}
.copyright-text p{margin: 0px}
.copyright-text p a{color: #fff;}


/*.big_footer{
    background: #4D4D4D;
    padding: 30px 0px;
    margin-top: 50px;
}

.footer_content{
    border-bottom: 1px solid #DDD;
    margin-bottom: 20px;
}

.footer_content a{float: left;}
.footer_content a h2{
    color: #FFF;
    font-size: 22px;
    width: 130px;
}
.footer_content ul{}
.footer_content ul li{}
.footer_content ul li a{color: #DDD;}
.footer_content ul li a:hover{}
.footer_content ul li a img{
    width: 50px;
    height: 50px;
}
.copyright{padding-top: 20px;}
.copyright p{
    color: #FFF;
    font-size: 16px;
}



.footer_right{}
.footer_right h2{
    color: #FFF;
    font-size: 24px;
    padding-bottom: 10px;
}
.footer_right p{
    color: #DDD;
    font-size: 16px;
}
.footer_right ul{}
.footer_right ul li{
    padding-right: 15px;
}
.footer_right ul li i{
    background: #9900CC;
    padding: 5px;
    font-size: 20px;
    color: #FFF;
    margin-right: 5px;
    border-radius: 5px;
}
.footer_right ul li a{
    color: #DDD;
}

.contact_info{}
.contact_info p{
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}
.contact_info p strong{
    padding-left: 10px;
    color: #FFF;
    font-weight: 300;
}

.contact_info p strong a{
    color: #FFF;
    font-weight: 400;
    font-size: 13px;
}


.footer_social_link a{
    color: #FFF;
    font-size: 16px;
    padding: 3px;
    border: 1px solid;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    margin-right: 5px;
}
.footer_social_link a:hover{color: #9900CC;}*/
/*Close Big Footer CSS*/

.error{
    color:red;
    display: block;
}




